// <copyright file="AuthenticationApi.cs" company="APIMatic">
// LogaltyCertificateIssuanceApiCerty.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using LogaltyCertificateIssuanceApiCerty.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace LogaltyCertificateIssuanceApiCerty.Standard.Apis
{
    /// <summary>
    /// AuthenticationApi.
    /// </summary>
    public class AuthenticationApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AuthenticationApi"/> class.
        /// </summary>
        internal AuthenticationApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// <![CDATA[
        /// Authenticate using the OAuth2 `client_credentials` grant to obtain a Bearer token.
        /// Credentials must be Base64-encoded as `Base64(<client_id>:<client_secret>)` and passed.
        /// in the `Authorization` header.
        /// ]]>
        /// </summary>
        /// <param name="grantType">Required parameter: OAuth2 grant type. Fixed value `client_credentials`..</param>
        /// <param name="scope">Required parameter: OAuth2 scope for certificate issuance. Fixed value `certy/certificate-request`..</param>
        /// <returns>Returns the ApiResponse of Models.TokenResponse response from the API call.</returns>
        public ApiResponse<Models.TokenResponse> GetToken(
                Models.GrantType grantType,
                Models.OauthScope scope)
            => CoreHelper.RunTask(GetTokenAsync(grantType, scope));

        /// <summary>
        /// <![CDATA[
        /// Authenticate using the OAuth2 `client_credentials` grant to obtain a Bearer token.
        /// Credentials must be Base64-encoded as `Base64(<client_id>:<client_secret>)` and passed.
        /// in the `Authorization` header.
        /// ]]>
        /// </summary>
        /// <param name="grantType">Required parameter: OAuth2 grant type. Fixed value `client_credentials`..</param>
        /// <param name="scope">Required parameter: OAuth2 scope for certificate issuance. Fixed value `certy/certificate-request`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TokenResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TokenResponse>> GetTokenAsync(
                Models.GrantType grantType,
                Models.OauthScope scope,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TokenResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/oauth2/token")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("grant_type", CoreHelper.JsonSerialize(grantType).Trim('\"')))
                      .Form(form => form.Setup("scope", CoreHelper.JsonSerialize(scope).Trim('\"')))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}