// <copyright file="CertificateRequestsApi.cs" company="APIMatic">
// LogaltyCertificateIssuanceApiCerty.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using LogaltyCertificateIssuanceApiCerty.Standard.Exceptions;
using LogaltyCertificateIssuanceApiCerty.Standard.Http.Response;
using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace LogaltyCertificateIssuanceApiCerty.Standard.Apis
{
    /// <summary>
    /// CertificateRequestsApi.
    /// </summary>
    public class CertificateRequestsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="CertificateRequestsApi"/> class.
        /// </summary>
        internal CertificateRequestsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Registers a new certificate issuance request for an end-user.
        /// A synchronous access URL (`accessUrl`) is always returned in the response.
        /// An asynchronous access link is also generated and sent to the end-user when.
        /// `noticeMethod` is set to `EMAIL` or `SMS`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TransactionResponse response from the API call.</returns>
        public ApiResponse<Models.TransactionResponse> CreateCertificateRequest(
                Models.TransactionRequest body)
            => CoreHelper.RunTask(CreateCertificateRequestAsync(body));

        /// <summary>
        /// Registers a new certificate issuance request for an end-user.
        /// A synchronous access URL (`accessUrl`) is always returned in the response.
        /// An asynchronous access link is also generated and sent to the end-user when.
        /// `noticeMethod` is set to `EMAIL` or `SMS`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransactionResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TransactionResponse>> CreateCertificateRequestAsync(
                Models.TransactionRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransactionResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/lgt/signcloud/rest/api/v1/certificate/request")
                  .WithAuth("bearerAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Invalid request parameters.", (errorReason, context) => new ErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns the status and details of a certificate issuance transaction by its UUID.
        /// </summary>
        /// <param name="code">Required parameter: Transaction's unique identifier in Logalty (UUIDv4 format)..</param>
        /// <returns>Returns the ApiResponse of Models.TransactionStatus response from the API call.</returns>
        public ApiResponse<Models.TransactionStatus> GetCertificateRequestByCode(
                Guid code)
            => CoreHelper.RunTask(GetCertificateRequestByCodeAsync(code));

        /// <summary>
        /// Returns the status and details of a certificate issuance transaction by its UUID.
        /// </summary>
        /// <param name="code">Required parameter: Transaction's unique identifier in Logalty (UUIDv4 format)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransactionStatus response from the API call.</returns>
        public async Task<ApiResponse<Models.TransactionStatus>> GetCertificateRequestByCodeAsync(
                Guid code,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransactionStatus>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/lgt/signcloud/rest/api/v1/certificate/request/{code}")
                  .WithAuth("bearerAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("code", code))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("Transaction not found.", (errorReason, context) => new ErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a list of certificate issuance transactions matching the provided external identifier.
        /// Multiple transactions may share the same `externalId` if registered with the `duplicateKeyOff` flag.
        /// </summary>
        /// <param name="externalId">Required parameter: Unique identifier in the client system external to Logalty..</param>
        /// <returns>Returns the ApiResponse of List of Models.TransactionStatus response from the API call.</returns>
        public ApiResponse<List<Models.TransactionStatus>> GetCertificateRequestByExternalId(
                string externalId)
            => CoreHelper.RunTask(GetCertificateRequestByExternalIdAsync(externalId));

        /// <summary>
        /// Returns a list of certificate issuance transactions matching the provided external identifier.
        /// Multiple transactions may share the same `externalId` if registered with the `duplicateKeyOff` flag.
        /// </summary>
        /// <param name="externalId">Required parameter: Unique identifier in the client system external to Logalty..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.TransactionStatus response from the API call.</returns>
        public async Task<ApiResponse<List<Models.TransactionStatus>>> GetCertificateRequestByExternalIdAsync(
                string externalId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.TransactionStatus>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/lgt/signcloud/rest/api/v1/certificate/request/external-id/{external-id}")
                  .WithAuth("bearerAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("external-id", externalId).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}