// <copyright file="EvidenceApi.cs" company="APIMatic">
// LogaltyCertificateIssuanceApiCerty.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using LogaltyCertificateIssuanceApiCerty.Standard.Exceptions;
using LogaltyCertificateIssuanceApiCerty.Standard.Http.Response;
using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace LogaltyCertificateIssuanceApiCerty.Standard.Apis
{
    /// <summary>
    /// EvidenceApi.
    /// </summary>
    public class EvidenceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="EvidenceApi"/> class.
        /// </summary>
        internal EvidenceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns a list of images captured during the certificate issuance process.
        /// </summary>
        /// <param name="code">Required parameter: Transaction's unique identifier in Logalty (UUIDv4 format)..</param>
        /// <returns>Returns the ApiResponse of List of Models.Image response from the API call.</returns>
        public ApiResponse<List<Models.Image>> DownloadImages(
                Guid code)
            => CoreHelper.RunTask(DownloadImagesAsync(code));

        /// <summary>
        /// Returns a list of images captured during the certificate issuance process.
        /// </summary>
        /// <param name="code">Required parameter: Transaction's unique identifier in Logalty (UUIDv4 format)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.Image response from the API call.</returns>
        public async Task<ApiResponse<List<Models.Image>>> DownloadImagesAsync(
                Guid code,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.Image>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/lgt/signcloud/rest/api/v1/certificate/request/images/{code}")
                  .WithAuth("bearerAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("code", code))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("Transaction not found.", (errorReason, context) => new ErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getVideoLink EndPoint.
        /// </summary>
        /// <param name="code">Required parameter: Transaction's unique identifier in Logalty (UUIDv4 format)..</param>
        /// <returns>Returns the ApiResponse of Models.VideoResponse response from the API call.</returns>
        public ApiResponse<Models.VideoResponse> GetVideoLink(
                Guid code)
            => CoreHelper.RunTask(GetVideoLinkAsync(code));

        /// <summary>
        /// getVideoLink EndPoint.
        /// </summary>
        /// <param name="code">Required parameter: Transaction's unique identifier in Logalty (UUIDv4 format)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.VideoResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.VideoResponse>> GetVideoLinkAsync(
                Guid code,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.VideoResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/lgt/signcloud/rest/api/v1/certificate/request/video/{code}")
                  .WithAuth("bearerAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("code", code))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("Transaction not found.", (errorReason, context) => new ErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns data extracted from the identity document along with validation results.
        /// </summary>
        /// <param name="code">Required parameter: Transaction's unique identifier in Logalty (UUIDv4 format)..</param>
        /// <returns>Returns the ApiResponse of Models.OcrResponse response from the API call.</returns>
        public ApiResponse<Models.OcrResponse> GetOcr(
                Guid code)
            => CoreHelper.RunTask(GetOcrAsync(code));

        /// <summary>
        /// Returns data extracted from the identity document along with validation results.
        /// </summary>
        /// <param name="code">Required parameter: Transaction's unique identifier in Logalty (UUIDv4 format)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.OcrResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.OcrResponse>> GetOcrAsync(
                Guid code,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.OcrResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/lgt/signcloud/rest/api/v1/certificate/request/ocr/{code}")
                  .WithAuth("bearerAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("code", code))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("Transaction not found.", (errorReason, context) => new ErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}