// <copyright file="OperationsApi.cs" company="APIMatic">
// LogaltyCertificateIssuanceApiCerty.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using LogaltyCertificateIssuanceApiCerty.Standard.Exceptions;
using LogaltyCertificateIssuanceApiCerty.Standard.Http.Response;
using LogaltyCertificateIssuanceApiCerty.Standard.Models.Containers;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace LogaltyCertificateIssuanceApiCerty.Standard.Apis
{
    /// <summary>
    /// OperationsApi.
    /// </summary>
    public class OperationsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="OperationsApi"/> class.
        /// </summary>
        internal OperationsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Performs an operation on an in-progress transaction. The `operation` field in the.
        /// request body determines the action:.
        /// - **`resend`** — Resend the access request to the end-user or generate a new synchronous access URL.
        /// - **`cancel`** — Cancel the transaction. Returns HTTP 204 No Content on success.
        /// </summary>
        /// <param name="code">Required parameter: Transaction's unique identifier in Logalty (UUIDv4 format)..</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ResendResponse response from the API call.</returns>
        public ApiResponse<Models.ResendResponse> UpdateCertificateRequest(
                Guid code,
                UpdateRequest body)
            => CoreHelper.RunTask(UpdateCertificateRequestAsync(code, body));

        /// <summary>
        /// Performs an operation on an in-progress transaction. The `operation` field in the.
        /// request body determines the action:.
        /// - **`resend`** — Resend the access request to the end-user or generate a new synchronous access URL.
        /// - **`cancel`** — Cancel the transaction. Returns HTTP 204 No Content on success.
        /// </summary>
        /// <param name="code">Required parameter: Transaction's unique identifier in Logalty (UUIDv4 format)..</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResendResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ResendResponse>> UpdateCertificateRequestAsync(
                Guid code,
                UpdateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResendResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/lgt/signcloud/rest/api/v1/certificate/request/{code}")
                  .WithAuth("bearerAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("code", code))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Invalid request.", (errorReason, context) => new ErrorResponseException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Transaction not found.", (errorReason, context) => new ErrorResponseException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}